.mwc-text-field--textarea .mdc-notched-outline {
    z-index: 2;
}

.mwc-text-field--textarea.mdc-text-field--outlined .mdc-text-field__input {
    padding: 0 16px 0 0;
    margin-top: 20px;
    margin-left: 16px;
    min-height: 36px;
    resize: vertical;
}

.mwc-text-field--textarea.mdc-text-field--filled .mdc-text-field__input {
    margin-top: 26px;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 30px;
    resize: vertical;
}

.mdc-text-field.mwc-text-field--textarea {
    height: unset;
}

.mdc-text-field.mwc-text-field--textarea > .mdc-floating-label {
    top: 29px;
}

.mdc-text-field.mwc-text-field--textarea > .mdc-notched-outline > .mdc-notched-outline__notch > .mdc-floating-label {
    top: 1.7rem;
}


