// Just an example of how to do it 
// with custom theme colors if you'd
// like to use custom colors
$mdc-theme-primary: #9c27b0;
$mdc-theme-secondary: #76ff03;
$mdc-theme-background: #fff;

body {
    background: #9c9c9c;
}
 
@import "~material-components-web/material-components-web";